@CHARSET "UTF-8";
/*
over-ride "Weak" message, show font in dark grey
*/

fieldset {
    width: 450px;
    margin-left: 30px;
}

.login-form{
    background-color: #f8f9fa;
    width: 600px;
    margin-top: 20px;
}

i {
    color: gray;
}

small.help-block{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}

.form-control-feedback.fa.fa-times {
    color: red;
    padding-left: 10px;
    font-size: 25px;
}
div.form-group.has-feedback.has-error input {
    border-color: #cd4025;
}
i.form-control-feedback.fas.fa-check {
    color: #27bb79;
    padding-left: 10px;
    font-size: 25px;
}

#registration_form > div.form-group.has-feedback.has-error > small {
    color: green;
}

div.input-group {
    width: 550px;
}

legend {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 85px;
}

#registration_form > fieldset > div.form-group.has-feedback.has-success > div > i {
    margin-top: 7px;
}

#registration_form > fieldset > div.form-group.has-feedback.has-error > div > i {
    margin-top: 7px;
}

.form-control-feedback.fa.fa-clock {
    color: #d4d400;
    margin-top: 7px;
    padding-left: 10px;
    font-size: 25px;
}

.btn.btn-info.btn-block.login {
    margin-left: 170px;
}

.link_home {
    margin-left: 50px;
    margin-top: 8px;
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.years.active {
    background-color: green;
}

.add-on .input-group-btn > .btn {
    border-left-width:0;left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
    box-shadow:none;
    -webkit-box-shadow:none;
    border-color:#cccccc;
}
.maxl{
    margin:5px ;
}
.inline{
    display: inline-block;
}
.inline + .inline{
    margin-left:10px;
}
.radio{
    color:#999;
    font-size:15px;
    position:relative;
}
.radio span{
    position:relative;
    padding-left:20px;
}
.radio span:after{
    content:'';
    width:15px;
    height:15px;
    border:3px solid;
    position:absolute;
    left:0;
    top:1px;
    border-radius:100%;
    -ms-border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.radio input[type="radio"]{
    cursor: pointer;
    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.radio input[type="radio"]:checked + span{
    color:#17a2b8;
}
.radio input[type="radio"]:checked + span:before{
    content:'';
    width:5px;
    height:5px;
    position:absolute;
    background:#17a2b8;
    left:5px;
    top:6px;
    border-radius:100%;
    -ms-border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
}
